@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: auto;
  position: relative;
  min-height: 100vh;
  background-color: rgb(26, 24, 24);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  padding-bottom: 209px;
}

.thumb {
  width: 100%;
  height: 255px;
  position: relative;
  border-radius: 10px;
  animation: fadeInUp 600ms ease-in-out;
  overflow: hidden;
  margin: 45px 0;
}
@media only screen and (max-width: 768px) {
  .thumb {
    height: 120px;
  }
}
.thumb__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1);
  transition: transform 300ms;
}
.thumb__title {
  position: absolute;
  top: 40%;
  left: 50%;
  font-weight: 600;
  color: #fff;
  box-sizing: inherit;
  text-transform: uppercase;
  transform: translate(-50%, -160%);
}
@media only screen and (min-width: 350px) {
  .thumb__title {
    font-size: 11px;
  }
}
@media only screen and (min-width: 768px) {
  .thumb__title {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .thumb__title {
    font-size: 40px;
  }
}
.thumb__undertitle {
  position: absolute;
  top: 70%;
  left: 50%;
  font-weight: 400;
  color: #fff;
  box-sizing: inherit;
  transform: translate(-50%, -130%);
}
@media only screen and (min-width: 350px) {
  .thumb__undertitle {
    font-size: 9px;
  }
}
@media only screen and (min-width: 768px) {
  .thumb__undertitle {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  .thumb__undertitle {
    font-size: 38px;
  }
}
.thumb__overlay {
  position: absolute;
  top: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.thumb:hover > .thumb__img {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.infos {
  color: #fff;
  text-align: center;
  animation: fadeInUp 600ms ease-in-out;
  margin: 10% 0;
}
@media only screen and (min-width: 350px) {
  .infos__title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .infos__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .infos__title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 350px) {
  .infos__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .infos__text {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1200px) {
  .infos__text {
    font-size: 20px;
  }
}

.artists {
  animation: fadeInUp 0.6s ease-in-out;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: #fff;
}
@media only screen and (min-width: 350px) {
  .artists {
    display: block;
    height: 715px;
  }
}
@media only screen and (min-width: 768px) {
  .artists {
    margin-top: 10em;
    display: flex;
    height: 255px;
  }
}
.artists__photo {
  border-radius: inherit;
  object-fit: cover;
}
@media only screen and (min-width: 350px) {
  .artists__photo {
    height: 340px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .artists__photo {
    height: inherit;
    width: 240px;
  }
}
.artists__name {
  position: absolute;
}
@media only screen and (min-width: 350px) {
  .artists__name {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .artists__name {
    font-size: 25px;
    left: 11.3em;
    top: -25px;
  }
}
@media only screen and (min-width: 1200px) {
  .artists__name {
    font-size: 40px;
    left: 6.96em;
    top: -40px;
  }
}
.artists__description {
  position: absolute;
}
@media only screen and (min-width: 350px) {
  .artists__description {
    font-size: 16.5px;
    top: 23em;
  }
}
@media only screen and (min-width: 768px) {
  .artists__description {
    font-size: 15px;
    left: 18.85em;
    top: 2em;
  }
}
@media only screen and (min-width: 1200px) {
  .artists__description {
    font-size: 23px;
    left: 12.15em;
    top: 2em;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  padding-top: 20px;
}
@media only screen and (min-width: 350px) {
  .nav {
    margin: 2% 6%;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    margin: 3% 6%;
  }
}
@media only screen and (min-width: 992px) {
  .nav {
    margin: 5% 6%;
  }
}
.nav__links {
  display: flex;
  width: 33%;
  justify-content: space-around;
}
@media only screen and (min-width: 350px) {
  .nav__links {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .nav__links {
    width: 45%;
  }
}
@media only screen and (min-width: 992px) {
  .nav__links {
    width: 33%;
  }
}
.nav__links--active {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (min-width: 350px) {
  .nav__links--active {
    font-size: small;
  }
}
@media only screen and (min-width: 768px) {
  .nav__links--active {
    font-size: medium;
  }
}
@media only screen and (min-width: 992px) {
  .nav__links--active {
    font-size: large;
  }
}
.nav__links--inactive {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (min-width: 350px) {
  .nav__links--inactive {
    font-size: small;
  }
}
@media only screen and (min-width: 768px) {
  .nav__links--inactive {
    font-size: medium;
  }
}
@media only screen and (min-width: 992px) {
  .nav__links--inactive {
    font-size: large;
  }
}
.nav__logo {
  height: 47px;
  margin-left: 6%;
}
@media only screen and (min-width: 350px) {
  .nav__logo {
    height: 35px;
  }
}
@media only screen and (min-width: 768px) {
  .nav__logo {
    height: 61px;
  }
}
@media only screen and (min-width: 992px) {
  .nav__logo {
    height: 68px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer {
    justify-content: end;
  }
}
.footer__logo {
  position: absolute;
}
@media only screen and (min-width: 350px) {
  .footer__logo {
    top: 25px;
    height: 45px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    top: 85px;
    height: 65px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__logo {
    top: 40px;
    height: 85px;
  }
}
.footer__text {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
@media only screen and (min-width: 350px) {
  .footer__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__text {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__text {
    font-size: 24px;
  }
}

.home {
  margin: 0 5%;
}

.error {
  color: #fff;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .error {
    height: 725px;
  }
}
.error__content {
  margin: 0 40px;
  text-align: center;
}
.error__number {
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}
@media only screen and (min-width: 350px) {
  .error__number {
    font-size: 160px;
  }
}
@media only screen and (min-width: 768px) {
  .error__number {
    font-size: 224px;
  }
}
@media only screen and (min-width: 992px) {
  .error__number {
    font-size: 288px;
  }
}
.error__text {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
}
@media only screen and (min-width: 350px) {
  .error__text {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .error__text {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .error__text {
    font-size: 36px;
  }
}
.error__link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 133px;
  border: solid;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 300ms;
}
.error__link:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}
@media only screen and (min-width: 768px) {
  .error__link {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .error__link {
    font-size: 18px;
  }
}

.artists_page {
  padding: 50px;
  margin: 0 5%;
}

/*# sourceMappingURL=main.css.map */
